@inherits LayoutComponentBase

<div class="app-layout">
    <header>
        <h1 class="app-title">DASALUD</h1>
    </header>

    <div class="app-body">
        <nav>
            <NavMenu />
        </nav>

        <main class="content">
            @Body
        </main>
    </div>

    <footer class="app-footer">
        <small>&copy; DASALUD</small>
    </footer>
</div>
